@import "node_modules/bootstrap/less/bootstrap.less";

h1 {
  font-size: 140%;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

button {
  margin-left: 1em;
}

.messages {
  height: 20em;
  overflow: auto;
}

.input {
  margin: .5em;
  margin: .5em;
}

.submitter {
  margin-left: 5em;
  width: 20em;
}

.postal_code {
  width: 6em;
}

.isp {
  width: 20em;
}

.progress {
  height: 2.5em;
  .progress-bar {
    font-size: 150%;
    padding-top: .5em;
    font-weight: bold;
    height: 2.0em;
  }
}

.generating-submitter {
  padding-top: 2em;
  padding-bottom: 2em;
}

.message-row {
  margin: .2em;
  padding: .5em;
  border: 1px dotted grey;
}
